<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access to scan QR codes on laundry machines</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>We need local network access to communicate with the receipt printer</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ipp._tcp</string>
		<string>_printer._tcp</string>
	</array>
</dict>
</plist>
